<!-- BEGIN CONTENT BODY -->
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">خانه</a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <span>ویرایش  دانش آموز</span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <span class="caption-subject bold uppercase">فرم ویرایش  دانش آموز</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" id="insertUserForm">
                    <div class="form-body">
                        <!-- name input -->
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon">
                                <input type="text" name="firstName" ng-model="editStudentItem.name" class="form-control edited">
                                <label for="form_control_1">نام</label>
                                <i class="fa fa-user-o"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon">
                                <input id="fromDate" type="text" name="startDate" class="form-control date-input" >
                                <input id="fromDateTS" type="text" class="timeStamp hidden" ng-model="editStudentItem.birth_date">
                                <label for="form_control_1">تاریخ تولد</label>
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon">
                                <input type="text" name="firstName" ng-model="editStudentItem.email" class="form-control edited">
                                <label for="form_control_1">ایمیل</label>
                                <i class="fa fa-user-o"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon">
                                <input type="text" name="firstName" ng-model="editStudentItem.phone_number" class="form-control edited">
                                <label for="form_control_1">شماره تلفن</label>
                                <i class="fa fa-user-o"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon">
                                <input type="text" name="firstName" ng-model="editStudentItem.national_code" class="form-control edited">
                                <label for="form_control_1">کد ملی</label>
                                <i class="fa fa-user-o"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success form-md-floating-label">
                            <div class="input-icon">
                                <div class="modal-input-mar form-group form-md-line-input form-md-floating-label has-info">
                                    <label for="form_control_1">  ولی دانش آموز </label>
                                    <select id="platform" ng-model="editStudentItem.parent_id" name="platform" class="form-control select2" ng-options="parent.id as parent.name for parent in parentList">
                                        <option value="" disabled>انتخاب کنید ... </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions noborder">
                        <button type="button" class="btn blue" ng-click="editStudent()">ویرایش</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
<!-- END CONTENT BODY