<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">تبلیغات</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 pull-left">
                <span class="input-group-btn">
                    <a ui-sref="newAdPost" class="btn green" id="username1_checker">
                        <i class="fa fa-plus add-new-row"></i>ثبت تبلیغ</a>
                </span>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="users_table">
                    <thead>
                        <tr>

                            <th> ردیف </th>
                            <th> عنوان </th>
                            <!--<th> پیش شماره </th>-->
                            <!--<th> فعال بودن پیام  </th>-->
                            <th> عملیات </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="ad in adpost track by $index">

                            <td ng-bind="$index + 1"></td>
                            <td ng-bind="ad.caption"></td>
                            <!--<td>{{ (country.smsActive) ? 'فعال' : 'غیر فعال' }}</td>-->
                            <td>
                                <i class='fa fa-pencil admin-op font-green-jungle' ng-click="goToEditCountry(country)" data-toggle="tooltip" data-placement="top" title="ویرایش"></i>
                                <i class="fa fa-trash-o admin-op font-red-mint" role="button" data-toggle="confirmation" data-content="{{country.id}}" data-index="{{$index}}"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>

<!-- END MAIN CONTENT -->
